<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.0.2" targetFramework="net45" />
  <package id="Autofac.Mvc4" version="3.0.0" targetFramework="net45" />
  <package id="AutofacContrib.NSubstitute" version="3.1.1" targetFramework="net45" />
  <package id="AutoMapper" version="2.2.1" targetFramework="net45" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="Enumeration" version="2.0.0" targetFramework="net45" />
  <package id="FluentAssertions" version="2.0.1" targetFramework="net45" />
  <package id="FluentValidation" version="4.0.0.0" targetFramework="net45" />
  <package id="HttpSimulator" version="1.0.0.0" targetFramework="net45" />
  <package id="Humanizer" version="0.2" targetFramework="net45" />
  <package id="MvcContrib.Mvc3.TestHelper-ci" version="3.0.100.0" targetFramework="net45" />
  <package id="NBuilder" version="3.0.1.1" targetFramework="net45" />
  <package id="NSubstitute" version="1.6.0.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net45" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net45" />
  <package id="Seterlund.CodeGuard" version="2.3.1" targetFramework="net45" />
  <package id="TestStack.BDDfy" version="3.15" targetFramework="net45" />
</packages>